
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg text-center" style="width: 400px;">
      <h2 class="mb-4">Sign In</h2>
      
      <button class="btn btn-danger w-100 mb-3 d-flex align-items-center justify-content-center"
              (click)="loginWithGoogle()">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" 
             class="me-2"  style="width: 70px;"alt="Google logo"> -->
        Sign in with Google
      </button>
  
      <button class="btn btn-primary w-100 mb-3 d-flex align-items-center justify-content-center"
              (click)="loginWithMicrosoft()">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/20px-Microsoft_logo.svg.png"
             class="me-2" alt="Microsoft logo"> -->
        Sign in with Microsoft
      </button>

      <button class="btn btn-secondary w-100 d-flex align-items-center justify-content-center"
            (click)="loginWithFacebook()">
      Sign in with Facebook
    </button>
    </div>
  </div>
  